/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

text {
  font: bold 48px monospace;
}

body {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}



.enter {
  fill: green;
}

.update {
  fill: #333;
}


line {
  stroke: black;
  stroke-width: 2;
}

.player {
  border: 10px solid red;
  border-radius: 10px;
  position: absolute;
}